body {
  font-family: "Open Sans", sans-serif;
  margin: 40px;
  background-color: #f8f7ee;
  overflow-y: auto;
}

header {
  padding-bottom: 31px;
  text-align: center;
  font-size: 24px;
  font-family: "EB Garamond", sans-serif;
  max-width: 700px;
  margin: 0 auto;
  color: #333;
}

h1 {
  margin: 0;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 900px;
  margin: 2px;
  overflow-y: auto; /* enable scrolling for the main content */
  height: 100vh; /* set the height of the main content to the viewport height */
  padding: 20px; /* add some padding to the main content */
}

#post-container {
  overflow-y: auto;
  max-height: 600px;
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: #f7f7f7;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#post-container::-webkit-scrollbar {
  display: none;
}

article {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
}

.post-meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-date {
  font-size: 12px;
  color: #666;
  margin-right: 10px;
}

.post-time {
  font-size: 12px;
  color: #999;
}

.post-quote {
  font-size: 18px;
  font-style: italic;
  color: #337ab7;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #333;
}

header::after {
  display: none;
}

article {
  background-image: none;
}

/* footer {
  background-color: #f8f7ee;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
} */

footer {
  padding: 15px 0; /* reduce padding to make the footer smaller */
  background-color: #f8f7ee;
  position: bottom;
  font-size: 12px; /* reduce font size to make the text smaller */
  line-height: 4; /* reduce line height to make the text more compact */
}

.footer-container {
  display: flex; /* make the container a flexbox to center the content */
  flex-direction: column; /* stack the content vertically */
  align-items: center; /* center the content horizontally */
}

.footer-container p {
  margin: 0; /* remove margin to make the text more compact */
}

.scroll-to-top {
  text-decoration: none;
  color: #337ab7;
}

.scroll-to-top:hover {
  color: #23527c;
}

.scroll-container {
  position: relative; /* relative positioning for the scroll container */
  height: 100%; /* set the height of the scroll container to 100% */
  overflow-y: auto; /* enable scrolling for the scroll container */
}

.scroll-content {
  position: relative; /* relative positioning for the scroll content */
  top: 0; /* set the top position of the scroll content to 0 */
  transition: top 0.5s ease-in-out; /* add a transition effect for the top position */
}

#name {
  color: #b31b1b;
}

@media only screen and (max-width: 1199px) {
  main {
    max-width: 900px;
  }
  #post-container {
    max-height: 1150px;
    max-width: 700px;
    margin: 2px;
  }

  header {
    font-size: 26px;
    font-weight: 400px;
  }
  .post-image {
    width: 100%;
  }
  footer {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .post-date {
    font-size: 13px;
    color: #666;
    margin-right: 10px;
  }

  .post-time {
    font-size: 13px;
    color: #999;
  }

  .post-quote {
    font-size: 14px;
    font-style: italic;
    color: #337ab7;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #333;
  }
}


.search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#searchInput {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

#searchButton {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
}

#searchButton:hover {
  background-color: #23527c;
}
