:root {
  font-size: 16px; /* Assuming the base font size is 16px */
}

#post-container {
  margin-top: 1.25rem; /* 20px */
}

.image {
  width: 100%;
  max-width: 43.125rem; /* 690px */
  height: auto; /* Allow height to adjust based on the width */
  aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio for a horizontal appearance */
  object-fit: cover; /* Crop the image to fit the container */
  border-radius: 0.625rem; /* 10px */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 0 4px 8px */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  display: block;
  margin: 2.1875rem auto; /* 35px */
}

.image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); /* 0 8px 16px */
}

article {
  margin-bottom: 1.25rem; /* 20px */
  padding: 1.25rem; /* 20px */
  border-bottom: 1px solid #ccc;
}

article:last-child {
  border-bottom: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 2%;
  background-color: #f8f7ee;
  overflow-y: auto;
}

header {
  padding-bottom: 1.875rem; /* 30px */
  text-align: center;
  font-size: 1.375rem; /* 22px */
  /* font-size: clamp(1.2rem, 2.5vw, 1.7rem); 22px */
  font-family: "EB Garamond", sans-serif;
  max-width: 90%;
  margin: 0 auto;
  color: #333;
}

h1 {
  margin: 0;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9375rem; /* 15px */
  max-width: 68.75rem; /* 1100px */
  margin: 0.125rem auto; /* 2px */
  overflow-y: auto;
  height: 100vh;
}

#post-container {
  overflow-y: auto;
  max-height: 80vh;
  max-width: 68.75rem; /* 1100px */
  padding: 1.25rem; /* 20px */
  border-radius: 0.625rem; /* 10px */
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.05); /* 0 0 10px */
  background-color: #f7f7f7;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#post-container::-webkit-scrollbar {
  display: none;
}

article {
  background-color: #f7f7f7;
  padding: 0.9375rem; /* 15px */
  margin-bottom: 0.9375rem; /* 15px */
  border: none;
  border-radius: 0.625rem; /* 10px */
}

.post-meta {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* 8px */
}

.post-date {
  font-size: 0.6875rem; /* 11px */
  color: #666;
  margin-right: 0.5rem; /* 8px */
}

.post-time {
  font-size: 0.6875rem; /* 11px */
  color: #999;
}

.post-quote {
  font-size: 1rem; /* 16px */
  font-style: italic;
  color: #337ab7;
  margin-bottom: 0.5rem; /* 8px */
}

p {
  font-size: 0.8125rem; /* 13px */
  margin-bottom: 0.9375rem; /* 15px */
  line-height: 1.5;
  color: #333;
}

article {
  background-image: none;
}

footer {
  padding: 0.75rem 0; /* 12px 0 */
  background-color: #f8f7ee;
  position: bottom;
  font-size: 0.6875rem; /* 11px */
  line-height: 4;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container p {
  margin: 0;
}

.scroll-to-top {
  text-decoration: none;
  color: #337ab7;
}

.scroll-to-top:hover {
  color: #23527c;
}

.scroll-container {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.scroll-content {
  position: relative;
  top: 0;
  transition: top 0.5s ease-in-out;
}

#name {
  color: #b31b1b;
}

/* Desktop styles */
@media only screen and (max-width: 900px) {
  .image {
    width: 100%;
    max-width: 100%; /* Remove max-width for better responsiveness */
    height: auto; /* Maintain aspect ratio */
    margin: 20px auto; /* Adjust margin for smaller screens */
  }

  .image:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
  }
  body {
    font-family: "DM Sans", sans-serif;
    margin: 3%;
    background-color: #f8f7ee;
    overflow-y: auto;
  }

  header {
    padding: 3% 3% 6% 3%;
    text-align: center;
    font-size: 23px;
    font-family: "EB Garamond", sans-serif;
    max-width: 100%;
    margin: 0 auto;
    color: #333;
  }

  h1 {
    margin: 0;
    font-weight: 250;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    max-width: 100%;
    margin: 3%;
    overflow-y: auto;
    height: 100vh;
  }

  #post-container {
    overflow-y: auto;
    max-height: 75vh;
    max-width: 100%;
    padding: 2.7%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #f7f7f7;
    font-family: "DM Sans", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  #post-container::-webkit-scrollbar {
    display: none;
  }

  article {
    background-color: #f7f7f7;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
  }

  .post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .post-date {
    font-size: 11px;
    color: #666;
    margin-right: 10px;
  }

  .post-time {
    font-size: 12px;
    color: #999;
  }

  .post-quote {
    font-size: 14px;
    font-style: italic;
    color: #337ab7;
    margin-bottom: 10px;
  }

  p {
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #333;
  }

  footer {
    padding: 10px 0;
    background-color: #f8f7ee;
    font-size: 17px;
    line-height: 4;
    margin-top: 3.7%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-container p {
    margin: 0;
  }

  .scroll-to-top {
    text-decoration: none;
    color: #337ab7;
  }

  .scroll-to-top:hover {
    color: #23527c;
  }

  .scroll-container {
    position: relative;
    height: 100%;
    overflow-y: auto;
  }

  .scroll-content {
    position: relative;
    top: 0;
    transition: top 0.5s ease-in-out;
  }

  #name {
    color: #b31b1b;
  }
}
